<form action="/division/add" method="post">
  <label for="division-name">Add a new division</label>
  <input id="division-name" type="text" name="division-name">
  <button type="submit">Submit</button>
</form>
