<a href="/employee/add" class="btn btn-info">Add a new employee</a>
<a href="/division/add" class="btn btn-info">Add a new division</a>

<h2>All Divisions</h2>
<ul>
<% @all_divisions.each do |division| %>
<li><a href="/division/<%=division.id%>"><%= division.division %></a></li>
<% end %>
</ul>

<h2>All Employees</h2>
<ul>
<% @all_employees.each do |employee| %>
<li><a href="/employee/<%=employee.id%>"><%= employee.name %></a></li>
<% end %>
</ul>
